---
import { Image } from "astro:assets";
import { getInitials } from "../../utils/constants";

const { presenter, size = "medium" } = Astro.props;
const sizeClasses = {
  small: 48,
  medium: 64,
  large: 96
};

const images = import.meta.glob('/public/assets/photos/*.{jpeg,jpg,png,gif}');
const image = presenter.photo ? images[`/public/assets/photos/${presenter.photo}`]() : null;
---

{presenter.photo && image ? (
  <Image
    src={image}
    alt={presenter.name}
    class={`rounded-lg shadow flex-shrink-0 object-cover object-top`}
    width={sizeClasses[size]}
    height={sizeClasses[size]}
    loading="lazy"
  />
) : (
  <div class="w-16 bg-gradient-to-br from-blue-400 to-blue-600 rounded-lg flex items-center justify-center text-white font-bold text-sm shadow flex-shrink-0">
    {getInitials(presenter.name)}
  </div>
)}